@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap";
@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  transform-style: perserve-3d;
  overflow-x: hidden;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

p {
  font-size: 5;
}

a,
a:hover {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
